# dependencies
node_modules

# builds
dist
*.log

# editor/system
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# env/config
.env
.env.*

# lockfiles (uncomment the one you use)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
